*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: "Manrope", sans-serif;
   font-style: normal;
   font-size: large;
}

.navbar{
    background-color: #9A6969;
    display: flex;
    flex-direction: column;
    
}

.logo{
    text-align: center;
}
.logo h1{
    text-transform: capitalize;
    font-size: 100px;
    color: aliceblue;
}

.list{
    background-color: #212529;
    text-align: center; 
}

.list_item{
    list-style: none;
    display:flex;
    justify-content: space-around;
    font-size: larger;
}
.list_item a{
    text-decoration: none;
    color: aliceblue;
    transition: color 0.5s ease;
}

.list_item a:hover{
    color:#b47474;
}

#container{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
   background-color: rgb(255, 255, 255);
   width:20%;
   margin: 50px;
   padding:0px;
   text-align: center;
   border-radius: 10px;
   transition: 0.4s;
   overflow: hidden;
}
.card:hover{
    transform: translateY(-3px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

img{
    width:100%;
    height: 6cm; 
    
}

.card h1,h2{
    font-size: 25px;
    font-weight:100;
}

.card h3{
    color:#007bff;
    font-weight: 100;
}

button{
    color: white;
    background-color:#1fbe44;
    width: 45%;
    height:32px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    margin: 8px;
    font-size: 12px;
    font-weight:bolder;
    transition: background-color 0.4s ease;
}
button:hover{
    background-color:#118f2e;
}


footer{
    color: white;
    background-color: #212529;
    width: 100%;
    height:1.5cm;
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width: 720px){
    .card{
        width: 50%;
        height:max-content;
    }
}
@media screen and (min-width:720px) and (max-width:1080px){
    .card{
        width: 30%;
        height:max-content;
    }
}

@media screen and  (max-width:720px){
    .logo h1{
        font-size: 72px;
    }
}
